.contactUsCont {
  background-color: #edf0f7;
  padding: 2rem 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.contactUsTitleRow {
  width: 15.5rem;
  height: 3.5rem;
  background-color: #5000b7;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.contactUsTitle {
  font-family: "Tajawal";
  color: #ffec00;
  font-size: 3rem;
  font-weight: 800;
}

.contactUsImgCont,
.contactUsForm {
  display: flex;
  justify-content: center;
}

.contactUsImg {
  width: auto;
  height: auto;
}

@media (max-width: 800px) {
  .contactUsCont {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
}
