/* quote container with img, paragraph and name */
.featureBox {
  display: flex;
  flex-direction: column;
}

.featureTitle {
  /* Style for "SPEED" */
  width: 206px;
  height: 71px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  /* Text style for "SPEED" */
  color: #ffffff;
  font-family: "Tajawal";
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.5px;
  line-height: normal;
}

.featImg {
  border-radius: 50%;
  height: 370px;
  width: 370px;
  margin: 0.5rem 0;
  display: block;
}

.featureText {
  /* Style for "dunt ut la" */
  /* width: 400px;
  height: 150px; */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  /* Text style for "dunt ut la" */
  color: #ffffff;
  font-family: "Tajawal";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
