.faqContainer {
  background-color: #ffec00;
  padding: 2rem 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.faqTitle {
  width: 15.5rem;
  height: 3.5rem;
  background-color: #5000b7;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.faqTitleText {
  color: #ffec00;
  font-size: 3rem;
  font-weight: 600;
}

.faqImgCont {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.faqImg {
  width: 75%;
  height: auto;
}

@media (max-width: 800px) {
  .faqContainer {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  .faqTextCont {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 2560px) {
  .faqContainer {
    padding: 2rem 38rem;
  }
}
