.faqCard {
  border: 0.125rem solid #000000;
  border-radius: 0.5rem;
}

.faqQuestion {
  background-color: #5000b7;
  color: #ffffff;
  font-family: "Tajawal";
  font-size: 1.5rem;
  font-weight: bold;
}

.faqAnswer {
  background-color: #ffec00;
  color: #000000;
  font-family: "Tajawal";
  font-size: 1.5rem;
  font-weight: 400;
}
