.navBarStyle {
  background-color: #5000b8;
  padding: 0 10rem;
  transition: top 0.3s;
}

.navBarMainCont {
  display: flex;
  justify-content: center;
}

.logoContainer {
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 10.6rem;
  margin: 0.5rem;
}

.paketManLogo {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navBarItemContainer div {
  text-align: center;
  background-color: yellow;
  border-radius: 10rem;
  width: 7.5rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.navbar-nav p {
  color: #5000b8;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.navBarMainCont button {
  border: 0.25rem solid yellow !important;
}

@media (max-width: 800px) {
  .navBarStyle {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-content: center;
  }
  .navBarMainCont {
    margin: 1rem;
    justify-content: center;
  }

  .navBarItemContainer {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .navBarStyle {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-content: center;
  }
  .navBarMainCont {
    margin: 0.5rem;
    justify-content: center !important;
  }

  .navBarItemContainer {
    justify-content: center;
  }
}

@media (max-width: 2560px) {
  .navBarStyle {
    padding: 0 38rem;
  }
}
