.navBarStyle{
    background-color: #5000b8;
}

.navBarMainCont{
    margin-left: 100px;
    margin-right: 100px;
}

.navBarContainer{
    justify-content: left;
    background-color: violet;
}

.logoContainer{
    display: flex;
    justify-content:flex-end;
    height: 68px;
    width: 170px;
}
.paketManLogo{
    height: 68px;
    width: 156px;
    margin-top: 10px;
}

.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
.navbar-nav .nav-link{
    color: #5000b8;
    font-family: 'Tajawal';
    font-weight: bold;
    background-color: yellow;
    border-radius: 10rem;
    width: 120px;
    height: 30px;
    /* margin: 0 10px; */
    text-align: center;
    /* padding-top: 2px; */
}
