 
.features {
    background-color: #5000b7;
    padding: 50px 150px;
}

.featureTitle{
    width: 200px;
    height: 51px;
    background-color: #ffec00;
    border-radius: 50px;
}

.featureTitleText{
    font-family: 'Tajawal';
    /*font-weight: bold;
    color: #5000b7;
    font-size: 36px; */
/* 
    width: 143px;
height: 43px; */
font-style:normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Features" */
color: #5000b7;
/* font-family: Exo; */
font-size: 3rem;
font-weight:800;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}