.locationCont {
  background-color: #edf0f7;
  padding: 25px 150px;
  justify-content: space-around;
  align-content: center;
}

.infoCont {
  display: flex;
  align-content: space-around;
}

.iconCol {
  background-color: #ffec00;
  max-width: 58px;
  height: 58px;
  border-radius: 58px;
  display: flex;
  justify-content: center;
}

.iconImg {
  display: block;
  width: 100%;
  height: auto;
}

.textCol {
  color: #000000;
  font-family: "Tajawal";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.26px;
  line-height: normal;
  display: flex;
  align-items: center;
}

.textCol p {
  margin-bottom: 0px;
}
