.headerContainer {
  background-color: #5000b7;
  padding: 2rem 10rem;
  position: relative;
}

.headerContainer::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: url("../../assests/Bitmap.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.headerMainRow {
  display: flex;
  justify-content: space-evenly;
  background-color: #5000b7;
}

.headerTextCol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headerTitleCol {
  display: flex;
  align-content: center;
}

.headerTitle {
  border-radius: 2rem;
  background-color: white;
  align-items: center;
  text-align: center;
  color: #5000b7;
  font-family: "Tajawal";
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.headerImg {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.headerImg::before {
  content: " ";
  display: block;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  width: 112%;
  height: 112%;
  background-image: url("../../assests/pics/yellow-Cercle.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

.headerBody {
  color: white;
  font-family: "Tajawal";
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.mobilePhoto {
  width: 13rem;
  height: auto;
  position: relative;
}

@media (max-width: 800px) {
  .headerContainer {
    background-color: #5000b7;
    padding: 2em 2em;
  }

  .headerImg::before {
    visibility: hidden;
  }
}
