.footerCont {
  background-color: #edf0f7;
  padding: 1rem 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.footerCont .col,
.logoCol img {
  margin: 1rem 0rem;
}
.socialCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialCol svg {
  margin: 0 5px;
  /* stroke: #edf0f7; */
  /* background-color: white; */
}

.socialCol p {
  text-align: center;
  margin-bottom: 0;
}

.logoCol {
  width: 233px;
  height: 215px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.policyCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}

.paketManFooterLogo {
  width: 12rem;
  height: auto;
}

/* .contactUsImg {
  width: 12rem;
  height: auto;
} */

@media (max-width: 800px) {
  .footerCont {
    padding: 1rem;
  }

  .footerCont .row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .policyCol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
