.formCont {
  padding: 10px 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: #ffec00;
  width: 75%;
}

.formCont .row {
  margin-top: 10px;
}

.formRowRes .col {
  margin-top: 0.5rem;
}

.submitButtonCol {
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: #5000b7;
}

@media (max-width: 800px) {
  .formCont {
    padding: 1rem;
  }
  .formRowRes {
    display: flex;
    flex-direction: column;
  }
}
